
<header class="header">

</header>

<div class="layout-container">
  <main role="main">
    <div class="row">
      <div class="upcom">
        <div id="evup">
          <h1>UPCOMING EVENTS</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container" id="container-1">
        <div class="dr">
          <p class="drd">April</p>
          <p>
            11
          </p>
        </div>
        <div class="event-text">
          <div class="text">
            <div class="time">
              <strong>10:00AM - 4:00PM</strong>
            </div>
            <div class="title">
              Doors Open Denver
            </div>
          </div>
          <div class="learn">
            <div>Learn More</div>
            <div>
              <img src="themes/custom/challenge/images/pink_arrow.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="container" id="container-2">
        <div class="dr">
          <p class="drd">May</p>
          <p>
            4
          </p>
        </div>
        <div class="event-text">
          <div class="text">
            <div class="time">
              <strong>10:00AM - 4:00PM</strong>
            </div>
            <div class="title">
              YOR Intro
            </div>
          </div>
          <div class="learn">
            <div>Learn More</div>
            <div>
              <img src="themes/custom/challenge/images/pink_arrow.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="container" id="container-3">
        <div class="dr">
          <p class="drd">JUN</p>
          <p>
            18
          </p>
        </div>
        <div class="event-text">
          <div class="text">
            <div class="time">
              <strong>10:00AM - 4:00PM</strong>
            </div>
            <div class="title">
              YOR Day Album Release Block Party
            </div>
          </div>
          <div class="learn">
            <div>Learn More</div>
            <div>
              <img src="themes/custom/challenge/images/pink_arrow.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container" id="container-4">
        <div class="dr">
          <p class="drd">JUN</p>
          <p>
            29
          </p>
        </div>
        <div class="event-text">
          <div class="text">
            <div class="time">
              <strong>10:00AM - 4:00PM</strong><br />
              <span>Westword Music Showcase</span>
            </div>
          </div>
          <div class="learn">
            <div>Learn More</div>
            <div>
              <img src="themes/custom/challenge/images/pink_arrow.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="container" id="container-5">
        <div class="dr">
          <p class="drd">AUG</p>
          <p>
            2
          </p>
        </div>
        <div class="event-text">
          <div class="text">
            <p class="time">
              <strong>10:00AM - 4:00PM</strong><br />
              <span>UMS</span>
            </p>
          </div>
          <div class="learn">
            <div>Learn More</div>
            <div>
              <img src="themes/custom/challenge/images/pink_arrow.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="container" id="container-6">
        <div class="dr">
          <p class="drd">NOV</p>
          <p>
            8
          </p>
        </div>
        <div class="event-text">
          <div class="text">
            <p class="time">
              <strong>10:00AM - 4:00PM</strong><br />
              <span>YOR Intro</span>
            </p>
          </div>
          <div class="learn">
            <div>Learn More</div>
            <div>
              <img src="themes/custom/challenge/images/pink_arrow.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>{# /.layout-container #}
